<html xmlns:th="http://www.thymeleaf.org" >
    <head th:fragment="common-header">
    <meta charset="utf-8" />
    <title>Dance!</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    

  </head>
  <body>
  
    <div id="init">
    
   </div>

	<script th:inline="javascript">

      /*<![CDATA[*/
	    
         var sessionUsername = /*[[${name}]]*/ 'User Name';
         var sessionBeast = /*[[${beast}]]*/ 'User beast';
         var sessionBeastType = /*[[${beastType}]]*/ 'User beast type';
		 var levelInfo = /*[[${levelInfo}]]*/ 'User beast type';
       /*]]>*/
       
     
	</script> 
      <script type="application/javascript"  th:src="@{/generated/app-bundle.js}"/></script>

  </body>
  
</html>
