<html xmlns:th="http://www.thymeleaf.org" >
    <head th:fragment="common-header">
    <meta charset="utf-8" />
    <title>Dancing Beast</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
         
    
  </head>
  <body>
    <div >
    <div class="login">
   <div class="container">
       <div class="col-lg-6 offset-lg-3 justify-content-center">
           
            <div class="inner-form" >
            <p th:if="${loginError}" class="loginerror">Wrong user or password</p>
            <p th:if="${regError}" class="regerror">Registration failed. Please try again.</p>
        
                   <form id="init" role="form" th:action="@{/login}" method="post">
            		   
            	     </form>
    	    				   
        			<a class="btn btn-success createOneButton" href="/registration" >CREATE ONE!</a>
        	
                </div> 
			
		</div> 
  
   </div>



      <script type="application/javascript"  th:src="@{/generated/app-bundle.js}"/></script>
  

  </body>
  
</html>
